body {
    background:  rgb(173, 63, 224);

}
#heading1{
    color: rgb(242, 78, 248);
    font-size: 64px;
}
.text {
    border: 1px solid #bb86ec;
    padding: 10px;
    margin: 10px;
    background: rgba(52, 221, 137, 0);
    display: inline-block;
    display: none;
    display: table;
    display: flex;
    width: 45%;

}